{% extends "./base.html"%}
{% block title %} Gestión de cursos {% endblock %}

{% block body%}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Edición de curso</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarCurso" method="POST">{% csrf_token%}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" value="{{curso.codigo}}" placeholder="Código" minlength="6" maxlength="6" readonly required >

                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" value="{{curso.nombre}}" placeholder="Nombre"  maxlength="50" required>

                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="numCreditos" name="numCreditos" class="form-control" min="1" max="9" value="{{curso.creditos}}" required>

                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

                </form>

            </div>

        </div>

  </div>

</div>

{% endblock %}